/* Ogólne style dla body */
body, html {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    font-size: 1em;
    background-color: transparent; 
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
    font-family: fantasy;
}

/* Styl dla nagłówka */
.naglowek {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 10;
}

/* Logo po lewej stronie */
.lewoNaglowek {
    flex: 1;
    text-align: left; 
}

/* Menu po prawej stronie */
.prawoNaglowek {
    flex: 3;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    gap: 30px; 
}

.prawoNaglowek a p {
    margin: 0;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    font-weight: bold;
    cursor: pointer;
}

.naglowek img {
    width: 100px;
    height: auto;
}


/* Stylowanie przycisku logowania/wylogowania */
.prawoNaglowek a p {
    border: 2px solid #D2B48C;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.prawoNaglowek a p:hover {
    background-color: #D2B48C;
    color: white;
}

footer.stopka {
    background-color: #faf4ed;
    padding: 10px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}


.stopka {
    background-color: #faf4ed;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
    font-size: 14px;
    color: #333;
    position: relative;
    bottom: 0;
    width: 100%;
}