/* Kontener logowania */
.login-container {
    text-align: center;
    margin: 60px auto;
    padding: 40px 20px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.7));
    background-size: cover;
    border-radius: 10px;
    max-width: 700px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

/* Nagłówek */
.login-container h1 {
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-size: 3em;
    color: #333;
    margin-bottom: 20px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

/* Podtytuł */
.login-container .subheader {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    color: #555;
    margin-bottom: 30px;
}

/* Formularz - kontener pól wejściowych */
.input-container {
    margin-bottom: 20px;
}

.input-container label {
    display: block;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    color: #555;
    margin-bottom: 5px;
}

.input-container input[type="text"],
.input-container input[type="password"] {
    width: 80%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border 0.3s, box-shadow 0.3s;
}

.input-container input:focus {
    border: 1px solid #D2B48C;
    box-shadow: 0 0 5px rgba(210, 180, 140, 0.5);
    outline: none;
}

/* Przycisk */
.button-container {
    margin-top: 20px;
}

.btn-login {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    padding: 15px 30px;
    background-color: #D2B48C;
    color: white;
    font-size: 1.2em;
    display: inline-block;
    margin-top: 40px;
    padding: 20px 65px; /* padding 20px góra-dół, 60px lewo-prawo */
    background-color: transparent; /* Przycisk pusty w środku */
    color: #D2B48C; /* Kolor tekstu */
    text-decoration: none;
    border: 2px solid #D2B48C; /* Cienka ramka */
    text-align: center;
}

.btn-login:hover {
    background-color: transparent;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(210, 180, 140, 0.4);
}

/* Link do rejestracji */
.login-container .register-link {
    margin-top: 50px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: #000000;
}

.login-container .register-link a {
    color: #D2B48C;
    text-decoration: none;
}

.login-container .register-link a:hover {
    text-decoration: underline;
}

/* Styl dla kontenera komunikatów */
.messages {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Styl dla komunikatów */
.message {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid;
}

.message.error {
    border-color: red;
    color: red;
}

.message.success {
    border-color: green;
    color: green;
}

.gsi-material-button {
  display: inline-flex; /* Dla poprawnego wyrównania ikony i tekstu */
  align-items: center; /* Wyśrodkowanie pionowe */
  justify-content: center; /* Wyśrodkowanie poziome */
  background-color: #202124; /* Czarne tło */
  border: 1px solid #3c4043; /* Subtelny obrys */
  border-radius: 4px; /* Zaokrąglone rogi */
  color: #fff; /* Biały tekst */
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 14px; /* Rozmiar tekstu */
  height: 40px; /* Stała wysokość przycisku */
  padding: 0 16px; /* Marginesy wewnętrzne */
  width: 250px; /* Szerokość przycisku */
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out; /* Animacje */
  text-decoration: none;
  text-align: center;
  margin: 10px;
}

.gsi-material-button:hover {
  background-color: #3c4043; /* Jaśniejszy odcień przy hover */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Delikatny cień */
}

.gsi-material-button .gsi-material-button-icon {
  flex-shrink: 0; /* Zapobiega skalowaniu ikony */
  width: 20px; /* Szerokość ikony */
  height: 20px; /* Wysokość ikony */
  margin-right: 8px; /* Odstęp między ikoną a tekstem */
}

.gsi-material-button svg {
  display: block; /* Zapewnia poprawne renderowanie SVG */
  width: 20px; /* Stała szerokość SVG */
  height: 20px; /* Stała wysokość SVG */
}

.gsi-material-button .gsi-material-button-content-wrapper {
  display: flex; /* Ustawienie flexboxa dla wrappera */
  align-items: center; /* Wyśrodkowanie zawartości pionowo */
  justify-content: center; /* Wyśrodkowanie zawartości poziomo */
}

.gsi-material-button .gsi-material-button-contents {
  text-align: center;
  flex-grow: 1;
  white-space: nowrap; /* Zapobiega zawijaniu tekstu */
  overflow: hidden;
  text-overflow: ellipsis;
}

.gsi-material-button:focus {
  outline: none; /* Usunięcie domyślnego obramowania */
  border-color: #8ab4f8; /* Niebieska ramka przy focus */
  box-shadow: 0 0 3px 2px rgba(66, 133, 244, 0.3); /* Efekt focus */
}