.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 80%;
    max-width: 1200px;
    margin: 50px auto;
}

.profile-container h1 {
    font-family: "Playfair Display", serif;
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "Red Hat Display", sans-serif;
    font-size: 1.2em;
    line-height: 1.6;
    color: #333;
    margin-bottom: 40px;
    width: 100%;
}

.user-info p {
    margin: 5px 0;
}

.user-info a {
    color: #D2B48C;
    text-decoration: none;
}

.user-info a:hover {
    color: #74573a;
}

.reservations {
    margin-top: 30px;
    text-align: center;
    width: 100%;
}

.reservations h2 {
    font-size: 2em;
    font-weight: 400;
    color: #333;
    margin-bottom: 20px;
}

.reservation-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.reservation-item {
    padding: 15px;
    background-color: #fbf8f4;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.reservation-item p {
    font-size: 1em;
    color: #333;
}


.reservation-item:hover {
    transform: translateY(-5px);
}


input, textarea, select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 20px;
}

button {
    background-color: #D2B48C;
    color: white;
    padding: 15px 30px;
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #74573a;
}
