/* Ogólne style dla body */
body {
    font-family: "Nunito Sans", sans-serif; 
    font-weight: 500;
    font-size: 1em;
    background-color: #ffffff; /* Jasny beżowy kolor tła */
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Styl dla nagłówka */
.naglowek {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #faf4ed; /* Kolor tła nagłówka */
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 10;
}

.lewoNaglowek,
.prawoNaglowek {
    flex: 1;
    text-align: center;
}

.lewoNaglowek p, .prawoNaglowek p {
    margin:  20px;
    padding: 10px;
    display: inline-block;
}

.naglowek img {
    width: 100px;
    height: auto;
}

/* Styl dla sekcji kontaktowej */
.kontakt-container {
    padding: 50px;
    background-color: #FFFFFF;
    text-align: center;
}

.kontakt-container h1 {
    font-family: "Playfair Display", serif;
    height: 300px;
    line-height: 10;
    font-weight: 100;
    font-size: 4em;
    color: #333;
}

.kontakt-container .subheader {
    font-family: "Parisienne", serif;
    line-height: 1.5;
    font-weight: 500;
    font-size: 3em;
    margin: 30px 0;
    color: #D2B48C;
}

.hotel-info {
    margin-top: 50px;
    font-size: 1em;
    color: #333;
}

.hotel-info h2 {
    font-family: "Nunito Sans", sans-serif; 
    font-weight: 500;
    font-size: 1em;
    text-align: left;
    color: #000000;
}

.hotel-info p {
    font-family: "Nunito Sans", sans-serif; 
    font-weight: 500;
    font-size: 1em;
    margin: 5px;
    text-align: left;
}

.hotel-info a {
    color: #4A4A4A;
    text-decoration: none;
}

.hotel-info a:hover {
    text-decoration: underline;
}



/* Styl dla sekcji lokalizacji */
.lokalizacja-section {
    background-color: #faf4ed; /* Kolor tła sekcji */
    padding: 50px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.lokalizacja-content {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.lokalizacja-text {
    flex: 1;
    text-align: left;
    padding: 20px;
}

.lokalizacja-text h2 {
    font-family: "Playfair Display", serif;
    font-size: 3em;
    font-weight: 100;
    color: #333;
}

.opis-lokalizacji {
    font-size: 1em;
    line-height: 1.6;
    color: #555;
}

.lokalizacja-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #D2B48C;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.lokalizacja-button:hover {
    background-color: #C9A27C;
}

.lokalizacja-img-container {
    flex: 1;
    text-align: center;
}

.lokalizacja-img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Dodatkowe style linków */
a {
    color: #4A4A4A;
}

a:hover {
    color: #D8C3A5;
}