/* Stylowanie napisu "Wyszukaj wydarzenia" */
.wyszukaj-wydarzenia {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 600;
    font-size: 1.6em; /* Zwiększenie czcionki */
    color: #000000; /* Kolor tekstu */
    margin-bottom: 70px; /* Odstęp poniżej napisu */
    margin-top: 20px; /* Podniesienie napisu */
    text-align: center; /* Wyśrodkowanie */
}

/* Stylowanie rozwijanych list */
select {
    font-family: "Red Hat Display", sans-serif; /* Czcionka Red Hat Display */
    font-weight: 500;
    font-size: 1.2em;
    padding: 25px 60px; 
    background-color: transparent; 
    color: #D2B48C; 
    border: 2px solid #D2B48C; 
    border-radius: 0; 
    width: 250px; 
    text-align: center;
    transition: all 0.3s ease;
}

/* Stylowanie rozwijanej listy po kliknięciu (focus) */
select:focus {
    outline: none;
    border-color: #74573a; 
    color: #74573a; 
}

/* Styl dla sekcji wydarzeń */
.wydarzenia-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh; /* Pełna wysokość widoku */
    background-color: #FFFFFF;
    text-align: center;
}

.wydarzenia-container h1 {
    font-family: "Playfair Display", serif;
    margin: 0 0 10px 0; 
    font-weight: 100;
    font-size: 5em;
    color: #333;
}

.wydarzenia-container .subheader {
    font-family: "Parisienne", serif;
    margin: 0; 
    padding: 0; 
    font-weight: 500;
    font-size: 3em;
    color: #D2B48C;
}

.wydarzenia-container .subheader-wrapper {
    margin-top: 20px; 
    margin-bottom: 200px; 
}

/* Kalendarz i przycisk */
.kalendarz-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Wyrównanie do góry, aby etykiety były na swoim miejscu */
    gap: 20px; /* Odstęp między kalendarzami */
    margin-top: 20px;
}

.kalendarz {
    font-family: "Red Hat Display", sans-serif; 
    font-weight: 500; 
    font-size: 1.2em;
    display: flex;
    flex-direction: column; /* Ustawienie elementów w kolumnie */
    align-items: center; /* Wyśrodkowanie tekstu */
}

.kalendarz label {
    margin-bottom: 10px; /* Odstęp między etykietą a kalendarzem */
    font-size: 1.1em;
    color: #333;
    font-family: "Red Hat Display", sans-serif;
}

.kalendarz input[type="date"] {
    font-family: "Red Hat Display", sans-serif; 
    font-weight: 500; 
    font-size: 1.2em;
    padding: 20px 60px; 
    background-color: transparent; 
    color: #D2B48C; 
    border: 2px solid #D2B48C; 
    text-align: center;
    transition: all 0.3s;
}

/* Efekt po kliknięciu na kalendarz */
.kalendarz input[type="date"]:focus {
    border-color: #74573a; /* Kolor ramki po kliknięciu */
    color: #74573a; /* Kolor tekstu po kliknięciu */
    outline: none;
}

/* Przycisk */
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-rezerwuj {
    font-family: "Red Hat Display", sans-serif; 
    font-weight: 500; 
    font-size: 1.2em;
    display: inline-block;
    padding: 25px 60px; /* Padding 20px góra-dół, 60px lewo-prawo */
    background-color: transparent; 
    color: #D2B48C; 
    text-decoration: none;
    border: 2px solid #D2B48C; 
    text-align: center;
    transition: all 0.3s;
}

.btn-rezerwuj:hover {
    background-color: transparent;
    color: #74573a;
    border-color: #74573a; 
}

/* Stylowanie wyników wyszukiwania */
.events-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.events-container h2 {
    font-family: "Playfair Display", serif;
    color: #333;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.events-container ul {
    list-style-type: none;
    padding: 0;
}

.events-container li {
    background-color: #f5f5f5;
    margin: 10px 0;
    padding: 20px;
    width: 80%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.events-container li h3 {
    font-family: "Playfair Display", serif;
    font-size: 1.8em;
    color: #74573a;
    margin-bottom: 10px;
}

.events-container li p {
    font-family: "Red Hat Display", sans-serif;
    color: #333;
    font-size: 1.2em;
}
