/* Styl dla seckji nagłówka */
.kontakt-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh; /* Pełna wysokość widoku */
    background-color: #FFFFFF;
    text-align: center;
}

.kontakt-container h1 {
    font-family: "Playfair Display", serif;
    margin: 0 0 10px 0; 
    font-weight: 100;
    font-size: 4em;
    color: #333;
}

.kontakt-container .subheader {
    font-family: "Parisienne", serif;
    margin: 0; 
    padding: 0; 
    font-weight: 500;
    font-size: 3em;
    color: #D2B48C;
}

.hotel-info {
    display: flex;
    flex-direction: column;     /* Układ w kolumnie */
    align-items: center;        /* Wyśrodkowanie w poziomie */
    justify-content: center;    /* Wyśrodkowanie w pionie */
    height: 100%;               /* Wysokość kontenera */
    text-align: center;         /* Wyśrodkowanie tekstu */
    margin-bottom: 50px;        /* Dodanie marginesu na dole */
}

.kontakt-container .subheader-wrapper {
    margin-top: 20px; 
    margin-bottom: 200px; 
}

/* Styl dla sekcji lokalizacji */
.lokalizacja-section {
    background-color: #fbf8f4; /* Kolor tła sekcji */
    padding: 50px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.lokalizacja-content {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.lokalizacja-text {
    flex: 1;
    text-align: left;
    padding: 20px;
}

.lokalizacja-text h2 {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    font-size: 3.5em;
    color: #333;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.opis-lokalizacji {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1.6;
    color: #000000;
}

/* Styl przycisku */
.lokalizacja-button {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600; 
    font-size: 1.2em;
    display: inline-block;
    margin-top: 40px;
    padding: 20px 60px; /* padding 20px góra-dół, 60px lewo-prawo */
    background-color: transparent; /* Przycisk pusty w środku */
    color: #D2B48C; /* Kolor tekstu */
    text-decoration: none;
    border: 2px solid #D2B48C; /* Cienka ramka */
    text-align: center;
}

.lokalizacja-button:hover {
    background-color: transparent; /* Wypełnienie puste */
    color: #74573a; 
    border-color: #74573a; /* kolor ramki */
}

.lokalizacja-img-container {
    flex: 1;
    text-align: center;
}

.lokalizacja-img {
    max-width: 150%;
    height: auto;
    border-radius: 10px;
}

/* Styl dla informacji hotelu */
.kontakt-container .hotel-info {/* Styl dla seckji nagłówka */
.kontakt-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh; /* Pełna wysokość widoku */
    background-color: #FFFFFF;
    text-align: center;
}

.kontakt-container h1 {
    font-family: "Playfair Display", serif;
    margin: 0 0 10px 0; 
    font-weight: 100;
    font-size: 4em;
    color: #333;
}

.kontakt-container .subheader {
    font-family: "Parisienne", serif;
    margin: 0; 
    padding: 0; 
    font-weight: 500;
    font-size: 3em;
    color: #D2B48C;
}

.hotel-info {
    display: flex;
    flex-direction: column;     /* Układ w kolumnie */
    align-items: center;        /* Wyśrodkowanie w poziomie */
    justify-content: center;    /* Wyśrodkowanie w pionie */
    height: 100%;               /* Wysokość kontenera */
    text-align: center;         /* Wyśrodkowanie tekstu */
    margin-bottom: 50px;        /* Dodanie marginesu na dole */
}

.kontakt-container .subheader-wrapper {
    margin-top: 20px; 
    margin-bottom: 200px; 
}

/* Styl dla sekcji lokalizacji */
.lokalizacja-section {
    background-color: #fbf8f4; /* Kolor tła sekcji */
    padding: 50px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.lokalizacja-content {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.lokalizacja-text {
    flex: 1;
    text-align: left;
    padding: 20px;
}

.lokalizacja-text h2 {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    font-size: 3.5em;
    color: #333;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.opis-lokalizacji {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1.6;
    color: #000000;
}

/* Styl przycisku */
.lokalizacja-button {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600; 
    font-size: 1.2em;
    display: inline-block;
    margin-top: 40px;
    padding: 20px 60px; /* padding 20px góra-dół, 60px lewo-prawo */
    background-color: transparent; /* Przycisk pusty w środku */
    color: #D2B48C; /* Kolor tekstu */
    text-decoration: none;
    border: 2px solid #D2B48C; /* Cienka ramka */
    text-align: center;
}

.lokalizacja-button:hover {
    background-color: transparent; /* Wypełnienie puste */
    color: #74573a; 
    border-color: #74573a; /* kolor ramki */
}

.lokalizacja-img-container {
    flex: 1;
    text-align: center;
}

.lokalizacja-img {
    max-width: 150%;
    height: auto;
    border-radius: 10px;
}

/* Styl dla informacji hotelu */
.kontakt-container .hotel-info {
    height: 100%;           
    text-align: left;     
}


    height: 100%;           
    text-align: left;     
}

