/* Styl dla sekcji kontaktowej */
.kontakt-container {
    padding: 50px;
    background-color: #FFFFFF;
    text-align: center;
}

.kontakt-container h1 {
    font-family: "Playfair Display", serif;
    height: 300px;
    line-height: 10;
    font-weight: 100;
    font-size: 4em;
    color: #333;
}

.kontakt-container .subheader {
    font-family: "Parisienne", serif;
    line-height: 1.5;
    font-weight: 500;
    font-size: 3em;
    margin: 30px 0;
    color: #D2B48C;
}
.kontakt-container .hotel-info {
    display: flex;
    flex-direction: column; /* Upewnij się, że elementy układają się w kolumnie */
    align-items: center;    /* Wyśrodkowanie w poziomie */
    justify-content: center; /* Wyśrodkowanie w pionie */
    height: 100%;           /* Aby zadziałało, wysokość kontenera powinna być ustawiona */
    text-align: center;     /* Wyśrodkowanie tekstu */
}

/* Styl dla sekcji lokalizacji */
.lokalizacja-section {
    background-color: #faf4ed; /* Kolor tła sekcji */
    padding: 50px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.lokalizacja-content {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.lokalizacja-text {
    flex: 1;
    text-align: left;
    padding: 20px;
}

.lokalizacja-text h2 {
    font-family: "Playfair Display", serif;
    font-size: 3em;
    font-weight: 100;
    color: #333;
}

.opis-lokalizacji {
    font-size: 1em;
    line-height: 1.6;
    color: #555;
}

.lokalizacja-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #D2B48C;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.lokalizacja-button:hover {
    background-color: #C9A27C;
}

.lokalizacja-img-container {
    flex: 1;
    text-align: center;
}

.lokalizacja-img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}