/* Ogólne style dla body */
body {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    font-size: 1em;
    background-color: #ffffff; /* Jasny beżowy kolor tła */
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Styl dla nagłówka */
.naglowek {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #faf4ed; /* Kolor tła nagłówka */
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 10;
}

.lewoNaglowek,
.prawoNaglowek {
    flex: 1;
    text-align: center;
}

.lewoNaglowek p, .prawoNaglowek p {
    margin:  20px;
    padding: 10px;
    display: inline-block;
}

.naglowek img {
    width: 100px;
    height: auto;
}


.hotel-info {
    margin-top: 50px;
    font-size: 1em;
    color: #333;
}

.hotel-info h2 {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    font-size: 1em;
    text-align: left;
    color: #000000;
}

.hotel-info p {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    font-size: 1em;
    margin: 5px;
    text-align: left;
}

.hotel-info a {
    color: #4A4A4A;
    text-decoration: none;
}

.hotel-info a:hover {
    text-decoration: underline;
}



/* Dodatkowe style linków */
a {
    color: #4A4A4A;
}

a:hover {
    color: #D8C3A5;
}


/* Styles footer*/
footer.stopka {
    background-color: #faf4ed;
    padding: 10px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;}

.stopka {
    background-color: #faf4ed;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
    font-size: 14px;
    color: #333;
    position: relative;
    bottom: 0;
    width: 100%;
}