/* Stylizacje dla potwierdzenia rezerwacji */
.kontener {
    padding: 40px;
    background-color: #fbf8f4;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #D2B48C;
    border-radius: 10px;
    text-align: center;
}

.kontener h1 {
    font-family: "Playfair Display", serif;
    color: #333;
    margin-bottom: 20px;
}

.kontener p {
    font-family: "Red Hat Display", sans-serif;
    margin: 10px 0;
    color: #000;
}

.kontener ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.kontener ul li {
    font-family: "Red Hat Display", sans-serif;
    margin: 5px 0;
}

.kontener .lokalizacja-button {
    margin-top: 20px;
}
