{% extends 'base.html' %}

{% block header %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles_contact.css' %}">
    
    <!-- Ładowanie czcionek z Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Parisienne&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Parisienne&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">       

    <title>Kontakt</title>
{% endblock %}

{% block content %}
 <div class="kontakt-container">
        <h1>Kontakt</h1>
        <p class="subheader">Jesteśmy tu dla Ciebie!</p>

        <div class="hotel-info">
                <h2>Hotel Scyzoryk</h2>
                <p>ul. Turystyczna 5</p>
                <p>25-100 Kielce, Świętokrzyskie, Polska</p>
                <p>Nr konta: 91 8493 0000 0000 0061 8188 0001</p>
                <p>Bank Spółdzielczy II Kielce</p>
                <p>Email: <a href="mailto:hotel@scyzoryk.pl">hotel@scyzoryk.pl</a></p>
                <p>Telefon: <a href="tel:+48412345678">+48 41 23 45 678</a></p>
            </div>
        </div>
    </div>

    <!-- Sekcja Lokalizacji -->
    <div class="lokalizacja-section">
        <div class="lokalizacja-content">
            <div class="lokalizacja-text">
                <h2>Nasza lokalizacja</h2>
                <p class="opis-lokalizacji">
                    Wypocznij w Górach Świętokrzyskich! Wyjątkowa lokalizacja Hotelu Scyzoryk gwarantuje położenie w środku lasu,
                    na obrzeżach Kielc, z dala od miejskiego zgiełku. Dzięki temu możesz w ciszy i spokoju cieszyć się niepowtarzalnymi widokami, które zapamiętasz na długo.
                </p>
                <a href="#" class="lokalizacja-button">Pokaż na mapie</a>
            </div>
            <div class="lokalizacja-img-container">
                <img src="{% static 'images/mapa.jpg' %}" alt="Mapa Lokalizacji" class="lokalizacja-img">
            </div>
        </div>
    </div>
{% endblock %}
