{% extends 'base.html' %}

{% block header %}
    {% load static %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/styles_home_page.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap" rel="stylesheet">
        <title>Strona hotelu</title>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <h1>Witaj {{user.first_name}} </h1> 
{% else %}
    <h1>Witaj w hotelu Scyzoryk! </h1> 
{% endif %}
<p>U nas zaśniesz spokojnie</p>

{% if messages %}
    <div class="error-message" style="color: red; font-weight: bold;">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
{% endif %}

<form action="{% url 'search_room' %}" method="get" class="formularz">
    <div class="formularze-container">
        <div class="formularz1">
            <span>Wybierz swoją datę przyjazdu</span><br>
            <input type="date" name="arrival_date" required>
        </div>
        <div class="formularz2">
            <span>Wybierz swoją datę odjazdu</span><br>
            <input type="date" name="departure_date" required>
        </div>
        <div class="select1-dorosli">
            <span>Liczba dorosłych:</span><br>
            <select name="adults" required>
                {% for i in range_10x %}
                <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="select1-dzieci">
            <span>Liczba dzieci:</span><br>
            <select name="children" required>
                {% for i in range_10 %}
                <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
        </div><br>
        <div class="guzik-container">
            <button type="submit" class="guzik">Szukaj pokoju</button>
        </div>
    </div>
</form>

<div class="kontener-zdjec">
    <div>
        <img id="zdj1" src="{% static 'images/Gory.jpg' %}" alt="GorySw">
        <div class="pod-zdjeciem">
            <p>Wspaniałe widoki Gór Świętokrzyskich w hotelu Scyzoryk.</p>
        </div>
    </div>
    <div>
        <img id="zdj2" src="{% static 'images/Kielce.jpg' %}" alt="Kielce">
        <div class="pod-zdjeciem">
            <p>Odwiedź nasze miasto Kielce i ciesz się jego atrakcjami.</p>
        </div>
    </div>
    <div>
        <img id="zdj3" src="{% static 'images/Hotel.jpg' %}" alt="Hotel">
        <div class="pod-zdjeciem">
            <p>Oferujemy spotkania biznesowe dla firm!</p>
        </div>
    </div>
</div>

<div class="hotel-info">
    <img id="hotelZdjecie" src="{% static 'images/zdjHotelu.png' %}" alt="Hotel Scyzoryk">
    <p class="hotelOpis">Hotel Scyzoryk to miejsce, które łączy tradycję z nowoczesnością. Położony w malowniczej okolicy Świętokrzyskich Gór, oferuje komfortowy wypoczynek w otoczeniu natury. Każdy pokój zapewnia gościom wygodę, a bogata oferta spa oraz restauracja z lokalnymi specjałami dopełniają wrażenia.</p>
</div>

{% endblock %}
