<!DOCTYPE html>
{% load static %}
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/stylesLastMinute.css' %}">
    <title>Last Minute</title>
</head>
<body>
    <div class="naglowek">
        <div class="lewoNaglowek">
            <a href="{% url 'lastMinute' %}">
            <p>Last Minute !</p>
            </a>
            <a href="{% url 'news' %}">
            <p>Wydarzenia w hotelu</p>
            </a>
        </div>
        <div class="zdjecie">
            <a href="{% url 'homePage' %}">
            <img src="{% static 'images/logoPNG.png' %}" alt="Logo Hotelu">
            </a>
        </div>
        <div class="prawoNaglowek">
            <a href="{% url 'contact' %}">
            <p style="left: 15px;">Kontakt</p>
            </a>
            <a href="{% url 'signIn' %}">
            <p>Zaloguj się</p>
            </a>
        </div>
    </div>
    <div class="hotel-info">
        <H1>Last Minute</H1>
    </div>

    <footer class="stopka">
        <p>© 2024 Hotel Scyzoryk | Wszystkie prawa zastrzeżone</p>
    </footer>

</body>
</html>