{% extends 'base.html' %}

{% block header %}
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/styles_news.css' %}">
    <!-- Ładowanie czcionek z Google Fonts -->
    <link rel="stylesheet" href="{% static 'css/styles_home_page.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Parisienne&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000&display=swap" rel="stylesheet">
    <title>Wydarzenia w hotelu</title>

{% endblock %}

{% block content %}
<div class="wydarzenia-container">
    <h1>Wydarzenia</h1>
    <div class="subheader-wrapper">
        <p class="subheader">Zobacz naszą ofertę!</p>
    </div>
</div>
<form method="POST">
    {% csrf_token %}
    <div class="kalendarz-container">
        <div class="kalendarz">
            <label for="data-wydarzenia">Data od:</label>
            <input type="date" id="data-wydarzenia" name="start_date" required>
        </div>
        <div class="kalendarz">
            <label for="data-wydarzenia-2">Data do:</label>
            <input type="date" id="data-wydarzenia-2" name="end_date" required>
        </div>
        <div class="button-container">
            <button type="submit" class="btn-rezerwuj">SZUKAJ</button>
        </div>
    </div>
</form>

{% if events %}
    <div class="events-container">
        <h2>Wyniki wyszukiwania:</h2>
        <ul>
            {% for event in events %}
                <li>
                    <h3>{{ event.name }}</h3>
                    <p>Data: {{ event.start_date }} - {{ event.end_date }}</p>
                    <p>{{ event.description }}</p>
                    {% if user.is_authenticated %}
                    <form method="get" action="{% url 'reserve_event' event.id %}">
                        <button type="submit" class="btn-rezerwuj">ZAREZERWUJ</button>
                    </form>
                {% else %}
                    <form method="get" action="{% url 'sign_in' %}">
                        <input type="hidden" name="next" value="{% url 'events_list' %}">
                        <button type="submit" class="btn-rezerwuj">ZAREZERWUJ</button>
                    </form>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% else %}
{% endif %}

<!-- Moje rezerwacje (widoczne tylko dla zalogowanych użytkowników) -->
{% if user.is_authenticated %}
<div class="my-reservations">
    <h2>Moje Rezerwacje</h2>
    {% if reservations %}
        <ul>
            {% for event in reservations %}
                <li>
                    <h3>{{ event.name }}</h3>
                    <p>{{ event.description }}</p>
                </li>
            {% endfor %}
        </ul>
        {% else %}
        <p class="no-reservations">Nie masz żadnych zarezerwowanych wydarzeń.</p>
    {% endif %}
</div>

{% for reservation in reservations %}
<div class="reservation-item">
    <h3>{{ reservation.event.name }}</h3>
    <p>{{ reservation.event.description }}</p>

    <!-- Formularz do anulowania rezerwacji -->
    <form method="post" action="{% url 'my_reservations' %}">
        {% csrf_token %}
        <input type="hidden" name="reservation_id" value="{{ reservation.id }}">
        <button type="submit">ANULUJ</button>
    </form>
</div>
{% endfor %}
{% endif %}
{% endblock %}