{% extends 'base.html' %}

{% block header %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles_news.css' %}">
    
    <!-- Ładowanie czcionek z Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Parisienne&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Parisienne&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">       
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    
    <title>Wydarzenia w hotelu</title>
{% endblock %}

{% block content %}
<div class="wydarzenia-container">
    <h1>Wydarzenia</h1>
    <div class="subheader-wrapper">
        <p class="subheader">Zobacz naszą ofertę!</p>
    </div>
</div>

<div class="kalendarz-container">
    <div class="kalendarz">
        <input type="date" id="data-wydarzenia" name="data-wydarzenia">
    </div>

    <div class="button-container">
        <button class="btn-rezerwuj">REZERWUJ ONLINE</button>
    </div>
</div>
{% endblock %}
