{% extends 'base.html' %}

{% block header %}
    {% load static %}
    <title>Profil użytkownika</title>
    <link rel="stylesheet" href="{% static 'css/styles_profile.css' %}">
{% endblock %}

{% block content %}
    <div class="profile-container">
        <h1>Profil użytkownika</h1>

        <div class="user-info">
            <p><strong>Nick:</strong> {{ user.username }}</p>
            <p><strong>Imię:</strong> {{ user.first_name }}</p>
            <p><strong>Nazwisko:</strong> {{ user.last_name }}</p>
            <p><strong>Email:</strong> <a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
            <p><strong>Numer telefonu:</strong> {{ user.phone_number }}</p>

            <a href="{% url 'edit_profile' %}" class="btn-edit-profile">Zmień dane</a>
        </div>

        <div class="reservations">
            <h2>Twoje rezerwacje</h2>
            {% if reservations %}
                <div class="reservation-list">
                    {% for reservation in reservations %}
                        <div class="reservation-item">
                            <!-- Kliknięcie przenosi do tego samego widoku, ale z parametrem reservation_id -->
                            <a href="?reservation_id={{ reservation.id }}">
                                <p><strong>Rezerwacja ID:</strong> {{ reservation.id }}</p>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>Brak rezerwacji.</p>
            {% endif %}
        </div>
    </div>

    <!-- Modal z szczegółami rezerwacji -->
    {% if reservation_detail %}
    <div id="reservationModal" class="modal" style="display:block;">
        <div class="modal-content">
            <!-- Przycisk zamknięcia w lewym górnym rogu -->
            <span class="close" onclick="window.location.href='{% url 'profile' %}'">&times;</span>

            <h2>Rezerwacja Szczegóły</h2>
            <p><strong>Rezerwacja ID:</strong> {{ reservation_detail.id }}</p>
            <p><strong>Pokój:</strong> {{ reservation_detail.room_number }}</p>
            <p><strong>Data zameldowania:</strong> {{ reservation_detail.check_in_date }}</p>
            <p><strong>Data wymeldowania:</strong> {{ reservation_detail.check_out_date }}</p>
            <p><strong>Łączna kwota:</strong> {{ reservation_detail.total_amount }} zł</p>
            <p><strong>Status płatności:</strong> {{ reservation_detail.status }}</p>
            <p><strong>Email rezerwacji:</strong> {{ reservation_detail.email }}</p>

            <!-- Przycisk zamknięcia -->
            <button class="close-btn" onclick="window.location.href='{% url 'profile' %}'">Zamknij</button>
        </div>
    </div>
    {% endif %}
{% endblock %}
