{% extends 'base.html' %}
{% load custom_filters %}

{% block header %}
    {% load static %}
    <title>Profil Użytkownika</title>
    <link rel="stylesheet" href="{% static 'css/styles_profile.css' %}">
{% endblock %}

{% block content %}
    <div class="profile-container">
        <h1>Profil Użytkownika</h1>

        <div class="user-info">
            <p><strong>Imię:</strong> {{ user.first_name }}</p>
            <p><strong>Nazwisko:</strong> {{ user.last_name }}</p>
            <p><strong>Email:</strong> <a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
            <p><strong>Numer telefonu:</strong> {{ user.phone_number }}</p>

    <a href="{% url 'edit_profile' %}" class="btn-edit-profile">Zmień dane</a>
</div>

        <div class="reservations">
            <h2>Twoje rezerwacje</h2>
            {% if reservations %}
                <ul>
                    {% for reservation in reservations %}
                        <li>
                            <strong>Pokój:</strong> {{ reservation.room.id }} <br>
                            <strong>ID Rezerwacji:</strong> {{ reservation.id }} <br>
                            <strong>Właściciel:</strong> {{ reservation.user.get_full_name }} <br>
                            <strong>Data przyjazdu:</strong> {{ reservation.check_in_date }} <br>
                            <strong>Data odjazdu:</strong> {{ reservation.check_out_date }} <br>
                            <strong>Cena za noc:</strong> {{ reservation.room.price }} zł <br>
                            <strong>Łączna kwota:</strong> {{ reservation.total_price|floatformat:2 }} zł

                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Brak rezerwacji.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
