{% extends 'base.html' %}

{% block header %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles_reservation_success.css' %}">
    <title>Potwierdzenie rezerwacji</title>
{% endblock %}

{% block content %}
<div class="kontener">
    <h1>Rezerwacja zakończona sukcesem!</h1>
    <p>Dziękujemy za rezerwację, {{ guest.first_name }} {{ guest.last_name }}.</p>
    <p>Szczegóły rezerwacji:</p>
    <ul>
        <li>Pokój: {{ reservation.room.name }}</li>
        <li>Data przyjazdu: {{ reservation.check_in_date }}</li>
        <li>Data odjazdu: {{ reservation.check_out_date }}</li>
        <li>Całkowita cena: {{ reservation.total_price }} zł</li>
    </ul>
    <a href="{% url 'home_page' %}" class="lokalizacja-button">Wróć na stronę główną</a>
</div>
{% endblock %}
