{% extends 'base.html' %}

{% block header %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles_login.css' %}">

    <!-- Ładowanie czcionek -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;600;900&family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
    <title>Logowanie</title>
{% endblock %}

{% block content %}
<div class="login-container">
    <h1>Logowanie</h1>
    <p class="subheader">Zaloguj się do swojego konta</p>

    <form action="{% url 'sign_in' %}" method="post">
        {% csrf_token %}
        <div class="input-container">
            <label for="email">Login</label><br>
            <input type="text" id="login" name="username" placeholder="Wpisz swój email" required>
        </div>

        <div class="input-container">
            <label for="password">Hasło</label><br>
            <input type="password" id="password" name="password" placeholder="Wpisz swoje hasło" required>
        </div>

        <div class="button-container">
            <button type="submit" class="btn-login">ZALOGUJ SIĘ</button>
        </div>
    </form>

    {% if messages %}
        <span class="messages">
            {% for message in messages %}
                <p class="message {% if message.tags == 'error' %}error{% else %}success{% endif %}">{{ message }}</p>
            {% endfor %}
        </span>
    {% endif %}

    {% load socialaccount %}
    <a href="{% provider_login_url 'google' %}?next=/">Login with Google</a>
    <div class="register-link">
        <p>Nie masz konta? <a href="{% url 'register' %}">Zarejestruj się</a></p>
    </div>
</div>
{% endblock %}
